<ion-view view-title="Menu">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page class="slide" id="m1">

            </ion-slide-page>
            <ion-slide-page class="slide" id="m2">

            </ion-slide-page>
            <ion-slide-page class="slide" id="m3">

            </ion-slide-page>
            <ion-slide-page class="slide" id="m4">

            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
