<ion-view hide-nav-bar="true">

    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page class="slide" id="s1">
                <div>

                    <div id="logo">
                        <img src="img/wood.png">
                    </div>
                    <p id="welcome-msg">
                        Welcome to the Woodford experience
                    </p>
                    <p id="welcome-sec-msg">
                        Swipe to learn more
                    </p>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide" id="s2">
                <div>
                    <h2>Happy Hour Deals</h2>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide" id="s3">
                <h2>Get rewards when you're here!</h2>
                <p>Our app knows when you visit Woodford and offers you exlusive rewards, just for hanging out with us!</p>
            </ion-slide-page>
            <ion-slide-page class="slide" id="s4">
                <div class="pull-bottom">
                <h2>Get Started</h2>
                <p><img style="width:50%;" src="img/loginfacebook.png" /></p>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>