/* Empty. Add your own CSS if you like */
.slide{
    padding-top: 80px;
    text-align: center;
    color: white;
}

#s1{
    background-image: url('../img/pplbar.jpg');
    background-size: cover;
}

#s2{
    background-image: url('../img/hh.jpg');
    background-size: cover;
}

#s2 h2 {
    color:white;
    text-shadow: 0px 0px 5px black;
}

#s3{
    background-image: url('../img/map.jpg');
    background-size: cover;
}

#s3 h2 p {
    color:black;

}

#s4{
    background-image: url('../img/try.jpg');
    background-size: cover;
}

#s4 h2 {
    color: white;
    text-shadow: 0px 0px 5px black;
}

.pull-bottom {
    position: absolute;
    bottom: 10%;
}

#welcome-msg{
    font-size: 18px;
}


/*header bar*/
[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background-color: black;
    background-image: url('../img/green.png');
    background-repeat: repeat-y;;
}


/*tabs*/
.tab{
  padding: 10px;
  padding-top: 10%;
  text-align: center;
}

.tabs-striped.tabs-positive .tabs {
    background-color: black;
    border-bottom: none;
}

.tabs-striped.tabs-positive .tab-item.tab-item-active, .tabs-striped.tabs-positive .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {

    border-color: #96d01f;
}

/*checkin in tab*/
.coupon {
    border: 2px dotted #375abd;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 0px 5px #ffffff, inset 0px 48px 0px -4px #6eb51c;
}

.coupon h3 {
  color:white;
  font-weight: bolder;
}

/*menu-food styling*/
#m1{
    background-image: url('../img/m1.png');
    background-size: cover;
}

#m2{
    background-image: url('../img/m2.png');
    background-size: cover;
}

#m3{
    background-image: url('../img/m3.png');
    background-size: cover;
}

#m4{
    background-image: url('../img/m4.png');
    background-size: cover;
}
